* {
  box-sizing: border-box;
}

*:focus {
  outline: 2px dotted blue;
  outline-offset: 3px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Rubik","Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.container {
  widows: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* SITE HEADER Css Start   */

.site-header {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-right {
  display: flex;
}

.site-logo {
  text-decoration: none;
  padding-top: 10px;
}

.site-logo-img {
  width: 276px;
  height: 45px;
  border-radius: 7px;
  padding: 9px 0px 8px 6px;
  background-color: #fff;
}

.rates-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
}

.rates-wrap{
  margin: 0;   
  padding: 0;
  margin-left:25px;
  padding-top: 13px;
  margin-bottom: 13px;
}

.rates-wrap:not(:last-child){
  margin-left:0px;
}

.dollar-icon{
font-style: normal;
font-weight: bold;
font-size:18px;
line-height: 19px;
color: #2959CE;

}

.dollar-number{
  color: #555;
  font-size:16px;
}

.site-header-left {
  display: flex;
}

.site-header-search {
  width: 275px;
  height: 45px;
  border-radius: 60px;
  border: 0px;
  padding: 15px 0px 15px 41px;
  background-image: url("/images/site-header-search.icon.svg");
  background-repeat: no-repeat;
  background-position-x:15px;
  background-position-y:15px;

}

.selectionLang {
  width: 70px;
  height: 40px;
  display: inline-block;
  padding: 0px;
  padding-top:8px;
  padding-left:2px;
  background: #dce6ff;
  border-radius: 39px;
  text-align: center;
  margin-left: 25px;
  margin-top: 3px;
}

.langUz {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: -10px;
  padding: 9px 10px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000;
  text-transform: uppercase;
}

.langRu {
  padding: 0;
  margin-top: 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
  text-transform: uppercase;
}

.site-header-btn {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border: 0px;
  padding: 13px 20px;
  background-color: #7296ec;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
  text-decoration: none;
}

/* SITE NAV Css Start  */

.site-nav{
    padding-top:40px;
  }
  
  .site-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-nav-item:not(:first-child) {
  margin-left:29.7px;
  padding-bottom: 20px;
}

.site-nav-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #7f7f7f;
}

.site-line{
  border:0px;
  height: 2px;
  background-color: #D1D1D1;
}

/* SITE ASIDE Css Strat   */

.site-aside{
  padding:30px;
  margin-top: 10px;
  background-color: #fff;
}

.aside-img{
  border-radius:9px;
}