/* https://www.figma.com/file/vAaXE281nrboRVTxj5tL8B/NAMANGANLIKLAR-24 */
/* GLOBAL CSS  */

* {
  box-sizing: border-box !important;
}

*:focus {
  outline: 2px dotted blue;
  outline-offset: 3px;
}

html{
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color:#4a4b4c;
}

.container {
  width:100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left:50px;
  padding-right:50px;
  box-sizing: border-box;
}

/* SITE HEADER Css Start   */

.site-header-top {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-right {
  display: flex;
}

.site-logo {
  text-decoration: none;
  padding-top: 10px;
}

.site-logo-img {
  width: 276px;
  height: 45px;
  border-radius: 7px;
  background-color: #fff;
}

.rates-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-top:8px;
}

.rates-wrap {
  margin: 0;
  padding: 0;
  margin-left: 25px;
  padding-top: 13px;
  margin-bottom: 13px;
}

.rates-wrap:not(:last-child) {
  margin-left: 0px;
}

.dollar-icon {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  color: #2959ce;
}

.dollar-number {
  color: #555;
  font-size: 16px;
}

.site-header-left {
  display: flex;
}

/* GLOBAL SEARCH CSS Start   */

.site-global-search {
  margin-right: 25px;
}

.site-global-search-input {
  width: 275px;
  height: 45px;
  border-radius: 60px;
  line-height:normal;
  border: 0px;
  padding: 15px 0px 15px 41px;
  background-image: url("/images/site-header-search.icon.svg");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 17px;
}

.selectionLang {
  width: 70px;
  height: 40px;
  display: inline-block;
  padding: 0px;
  padding-top: 8px;
  padding-left: 2px;
  background-color: #dce6ff;
  border-radius: 39px;
  text-align: center;
  margin-left: 25px;
  margin-top: 3px;
}

.langUz {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: -10px;
  padding: 9px 10px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000;
  text-transform: uppercase;
}

.langRu {
  padding: 0;
  margin-top: 5px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #a6a6a6;
  text-transform: uppercase;
}

.site-header-btn {
  width: 90px;
  height: 45px;
  border-radius: 10px;
  border: 0px;
  padding: 13px 20px;
  background-color: #7296ec;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
  text-decoration: none;
}

/* SITE NAV Css Start  */

.site-header-nav {
  padding-top: 40px;
}

.site-nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-nav-item:not(:first-child) {
  margin-left:34.5px;
  padding-bottom: 20px;
}

.site-nav-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #7f7f7f;
}

.site-line {
  border: 0px;
  height: 2px;
  background-color: #d1d1d1;
}

/* SITE ASIDE Css Strat   */

.site-header-aside {
  padding: 30px;
  margin-top: 10px;
  background-color: #fff;
}

.aside-banner-link{
  display: flex;
}

.aside-banner-img{
  width: 100%;
  display: block;
  border-radius: 9px;
}

.aside-banner-img:hover{
  opacity:0.8;
}

.aside-banner-img:active{
  opacity:0.6;
}

/* SITE MAIN CSS Start   */

.site-main{
  flex-grow: 1;
}

/* NEW SECTION CSS Start  */
.top-news {
  padding-top: 50px;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}

.news-grid-aricle {
  display: flex;
  flex-direction: column;
  width: 393px;
  padding: 20px 17px 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.news-grid-card {
  background-color: #f6f6f6;
  border-radius: 15px;
}

.news-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.news-card-title-link {
  text-decoration: none;
  color: #000;
}

.news-card-title-link:hover{
  color: #2959ce;
  opacity:0.8;
}

.news-card-title-link:active{
  opacity:0.6;
}

.news-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}

.news-card-img-link{
  display: flex;
  margin-top: auto;
}

.news-card-img {
  display:inline-block;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}

.news-card-img:hover{
  opacity:0.8;
}

.news-card-img:active{
  opacity:0.6;
}

.article-card-footer {
  display: flex;
  align-items: center;
}

.card-footer-source-icon-img {
  margin-right: 10px;
}



